# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Dotenv file
.env

# Public directory
public

# Visual Studio Code
.settings/
.vscode/
