/* === FONTS === */

/* bangers-regular - latin */
@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/bangers-v13-latin/bangers-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/bangers-v13-latin/bangers-v13-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */
            url('/fonts/bangers-v13-latin/bangers-v13-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('/fonts/bangers-v13-latin/bangers-v13-latin-regular.woff')
            format('woff'),
        /* Modern Browsers */
            url('/fonts/bangers-v13-latin/bangers-v13-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('/fonts/bangers-v13-latin/bangers-v13-latin-regular.svg#Bangers')
            format('svg'); /* Legacy iOS */
}

/* lexend-regular - latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lexend-v2-latin/lexend-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/lexend-v2-latin/lexend-v2-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-regular.woff')
            format('woff'),
        /* Modern Browsers */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-regular.svg#Lexend')
            format('svg'); /* Legacy iOS */
}

/* lexend-700 - latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lexend-v2-latin/lexend-v2-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/lexend-v2-latin/lexend-v2-latin-700.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/lexend-v2-latin/lexend-v2-latin-700.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-700.woff')
            format('woff'),
        /* Modern Browsers */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-700.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('/fonts/lexend-v2-latin/lexend-v2-latin-700.svg#Lexend')
            format('svg'); /* Legacy iOS */
}
